<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Document</title>
</head>

<body>
    <header class="Header">
        <a class="Header__logo__a" href="{{menuItems.[3].link}}">
            <img class="Header__logo" src="{{menuItems.[3].logo}}" alt="Logo">
        </a>
        <nav class="Header__nav">
            <ul class="Header__nav__ul">
                {{#each menuItems}}
                <li class="Header__nav__ul__li">
                    <a href={{link}}>{{label}}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
    </header>

    <section class="viewCurrent">
        <h1 class="viewCurrent__title">AKTUELLA</h1>
        <div class="viewCurrent__carousel">
            <button class="viewCurrent__carouselPrev"><i class="fas fa-arrow-left"></i></button>
            <div class="viewCurrent__container">
                {{#if moviesData}}
                {{#each moviesData.data}} <div class="MoviesCss">
                    <h2>{{attributes.title}}</h2>

                    <p></p>
                </div>
                {{/each}}
                {{else}}
                <p>Inga filmer tillängliga just nu.</p>
                {{/if}}

            </div>
            <button class="viewCurrent__carouselNext"><i class="fas fa-arrow-right"></i></button>
        </div>
        <button class="viewCurrent__btn">
            <a href="/pages/movies.handlebars">Se alla filmer</a>
        </button>
    </section>
    {{{body}}}



</body>