<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Document</title>
</head>

<body>
    <header class="Header">
        <a class="Header__logo__a" href="{{headerItems.[3].link}}">
            <img class="Header__logo" src="{{headerItems.[3].logo}}" alt="Logo">
        </a>
        <nav class="Header__nav">
            <ul class="Header__nav__ul">
                {{#each headerItems}}
                <li class="Header__nav__ul__li">
                    <a href={{link}}>{{label}}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
    </header>

    <section class="viewCurrent">


        <div class="viewCurrent__container">
            {{#if moviesData}}
            {{#each moviesData.data}}
            <div class="MoviesCss">
                <img class="Image_container" src="{{attributes.image.url}}" alt="">
                <a href="/moviepage/{{id}}">
                    <h2>{{attributes.title}}</h2>
                </a>
            </div>
            {{/each}}
            {{else}}
            <p>Inga filmer tillängliga just nu.</p>
            {{/if}}

        </div>
        {{!-- <button class="viewCurrent__carouselNext"><i class="fas fa-arrow-right"></i></button> --}}
        </div>
        <button class="viewCurrent__btn">
            <a href="movies">Se alla filmer</a>
        </button>
    </section>


    {{{body}}}
    <footer class="footer">
        <div class="footer__container">
            {{#each footer}}
            <a href="{{link}}" class="footer__a"> {{label}}</a>
            {{/each}}
        </div>
    </footer>



</body>